body {
    padding: 0px!important;

    background-color: #fbfbff;
}

*, body, html, button, input, h1, a, h2, h3, h4, p {
    font-family: 'Noto Sans', sans-serif;
}



.cards {
    display: flex;
    justify-content: space-between;
}

.voters {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 25px;
    
}


.bottom-pane {
    position: absolute;
    bottom: 5vh;
    width: 100%;
    justify-content: center;
}

html, body {
    padding: 0;
    margin: 0;
}

.cards {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    justify-content: center;
}

body {
    padding: 30px;
}

.card {
    display: flex;
    height: 80px;
    width: 60px;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    color: black;
    font-weight: bold;
    margin-right: 15px;
    transform: 5s;
    animation-name: cardDown;
    animation-duration: 0.5s;
}

@keyframes cardUp {
    from {margin-top: 0px;}
    to {margin-top: -10px;}
  }
  @keyframes cardUpPreview {
      from {margin-top: 0px;}
      to {margin-top: -5px;}
    }

  @keyframes cardDown {
    from {margin-top: -10px;}
    to {margin-top: 0px;}
  }

.card:hover {
    margin-top: -5px;
    background: white;
    cursor: pointer;
    animation-name: cardUpPreview;
  animation-duration: 0.5s;
}

.card.voted {
    color: white;
    background: #00b4d8;
    margin-top: -10px;
    animation-name: cardUp;
    animation-duration: 0.5s;
}

.voter {
    min-width: 80px;
    min-height: 100px;
    padding: 5px;
    background: #00b4d8;
    color: white;
    border-radius: 5px;

    transition-duration: 0.25s;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
    /* border-style: solid; */
    /* border-color: #00b4d8; */
    text-align: center;
    margin-bottom: 10px;
    margin-right: 5px;
    padding-top:10px;
}

.voter-details {
    margin-top:10px;
    display: flex;
    flex-direction: column;
}

.voter.novote {
    background: white;
    color: black;
}

.username {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

table {
    height: 200px;
    max-width: 300px;
    margin: 0 auto;
}

.board {
    padding: 10px;
}

.results {
    text-align: center;
    border-radius: 5px;
    /* border-style: solid; */
    /* border-color: #00b4d8; */
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    margin-left: 25vw;
    margin-right: 25vw;
    padding: 15px;
    background: white;
}

.results button {
    margin-top: 20px;
}

.icon-remove {
    color: #e63946;
}

.icon-ok {
    color: #a7c957;
}

.history {
    position: absolute;
    top: 95vh;
}

.novote {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.result-container {
    padding-bottom: 20px;
}

.results-container {
    display: flex;
}

.result {
    padding-left: 20px;
    text-align: left;
}

.titlebar {
    background: #00b4d8;
    display: flex;  
    padding: 5px;
    justify-content: space-between;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;
}

button {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);   
    padding: 10px;   
    transition-duration: 0.25s;
}

button:hover {
    background: #f4f3ee;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);

}

.center-button {
    background-color: #fbfef9
}

.center-stuff {
    display: flex;
    justify-content: center;
}

.split {
    display: flex;
    justify-content:space-around;
    padding-bottom: 10px;   
}

.icon-star {
    color: rgba(255, 234, 0, 1)
}

.special {
    box-shadow: 0px 0px 10px 0px rgba(255, 234, 0, 0.829);
}

.allvoted {
    background: #00b4d8;
}